@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<AuthorizeView>
    <Authorized>
        <MudButton Variant="Variant.Filled"
                   Color="Color.Primary"
                   StartIcon="@Icons.Material.Filled.Add"
                   OnClick="AbrirNovaTransacao"
                   Class="mb-4">
            Nova transação
        </MudButton>

        @if (!string.IsNullOrEmpty(_userId))
        {
            <div class="mb-8">
                <TransactionsGrid @ref="_grid"
                                  UserId="@_userId"
                                  OnEdit="EditarTransacao"
                                  OnDelete="ExcluirTransacao" />
            </div>
        }
    </Authorized>
</AuthorizeView>

<MudAlert Severity="Severity.Normal" ContentAlignment="HorizontalAlignment.Start">
    You can find documentation and examples on our website here:
    <MudLink Href="https://mudblazor.com" Target="_blank" Typo="Typo.body2" Color="Color.Primary">
        <b>www.mudblazor.com</b>
    </MudLink>
</MudAlert>
