@page "/"
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

@if (!string.IsNullOrEmpty(_userId))
{
    <FinanceSummaryPanel @ref="_resumo" UserId="@_userId" />
}

<MudStack Row="true" Spacing="2" Class="mb-4">
    <MudButton Variant="Variant.Filled"
               Color="Color.Primary"
               StartIcon="@Icons.Material.Filled.Add"
               OnClick="AbrirNovaTransacao">
        Nova transação
    </MudButton>


</MudStack>

@if (!string.IsNullOrEmpty(_userId))
{
    <div class="mb-8">
        <TransactionsGrid @ref="_grid"
                          UserId="@_userId"
                          OnEdit="EditarTransacao"
                          OnDelete="ExcluirTransacao" />
    </div>
}

<MudAlert Severity="Severity.Normal" ContentAlignment="HorizontalAlignment.Start">
    You can find documentation and examples on our website here:
    <MudLink Href="https://mudblazor.com" Target="_blank" Typo="Typo.body2" Color="Color.Primary">
        <b>www.mudblazor.com</b>
    </MudLink>
</MudAlert>
